name: Update semantic tags on repo after release

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: false # last one must win in case of multiple releases

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  packages: write

jobs:
  move-git-tags:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
          registry-url: https://npm.pkg.github.com

      - name: Download dependencies
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm install --frozen-lockfile

      - name: Split the incoming tag into major, minor and patch
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          # because in the JS github variable ref_name isn't there
          TAGNAME: ${{ github.ref_name }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const semver = require("semver");

            // parse our version
            let parsed = semver.parse(process.env.TAGNAME);

            core.exportVariable("MAJOR", parsed.major);
            core.exportVariable("MINOR", parsed.minor);
            core.exportVariable("PATCH", parsed.patch);

      - name: Move v${{ env.MAJOR }} and v${{ env.MAJOR }}.${{ env.MINOR }} tags
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { serializeError } = core.isDebug() ? require("serialize-error") : { serializeError: () => {} };

            const tagsToMove = [
                // already covered by semantic-release, it is what triggers this WF
                // `v${process.env.MAJOR}.${process.env.MINOR}.${process.env.PATCH}`,
                `v${process.env.MAJOR}.${process.env.MINOR}`,
                // only do major if we're off v0, as v0 is the semver exception
                ...(0 !== process.env.MAJOR ? [`v${process.env.MAJOR}`] : [])
            ];

            core.info(`Trying to move the following tags: ${tagsToMove.join(", ")} by deleting and re-creating.`);

            async function move(tag) {
                const ref = {
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    ref: `tags/${tag}`
                };

                try {
                    await github.rest.git.deleteRef({
                        ...ref,
                    });

                    core.info(`Deleted ${tag}.`);
                } catch (e) {
                    core.info(`The tag ${tag} doesn't exist yet, that's OK, it happens on new versions.`);
                    core.debug(serializeError(e));
                }

                try {
                    await github.rest.git.createRef({
                        ...ref,
                        // to delete a tag with deleteRef the format of the ref is tags/{tag}
                        // to create a tag with createRef the format of the ref is /refs/tags/{tag}
                        // # confused
                        ref: `refs/${ref.ref}`,
                        sha: context.sha
                    });

                    core.info(`Created ${tag} on ${context.sha}.`);

                } catch (e) {
                    core.setFailed(`Failed to create tag ${tag}.`);
                    core.debug(serializeError(e));
                }
            }

            await Promise.all(tagsToMove.map(move));

            core.info("All done!");
